<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invited</title>
</head>
<body>
  <script type="text/javascript" 
    src="http://code.jquery.com/jquery-1.11.1.min.js">
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

  <h1>You have been invited to room</h1>
  <script type="text/javascript">
    $(document).ready(() => {
      const url = "http://" + document.domain + ":" + location.port;
      const socket = io.connect(url + "/dd");
      socket.emit('join-room', {})
      
      socket.on('share-link', (link) => {
        console.log(link)
      });
    });
  </script>
</body>
</html>