<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "../static/styles/main.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" 
src="http://code.jquery.com/jquery-1.11.1.min.js">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invited</title>
</head>
<body class='full-container'>
  <div class="left-panel">
    <h1>You have been invited to room {{ room_id }}</h1>
    <video id='backing-video' muted loop>
      <source src="/static/backing-video.mp4" type="video/mp4" >
    </video>
    <audio id='backing-track'>
      <source src="/static/backing_track.wav">
    </audio>
    <div class="buttons-container">
      <button class="w3-button w3-green w3-xxlarge my-button" id='share-button'>Make Party</button>
      <button class="w3-button w3-green w3-xxlarge my-button" id='play-button'>Play Button</button>
      <button class="w3-button w3-green w3-xxlarge my-button" id='game-finish'>Finish</button>
    </div>
  </div>
  <div class="right-panel">
    <button id='sound_1' class="w3-button w3-purple w3-xxlarge my-button">Sample 1</button>
    <button id='sound_2' class="w3-button w3-purple w3-xxlarge my-button">Sample 2</button>
  </div>

  <script type="text/javascript">
    $(document).ready(() => {
      const urlParams = new URLSearchParams(window.location.search);
      const url = "http://" + document.domain + ":" + location.port;
      const socket = io.connect(url + "/dd");
      socket.emit('share-accepted', urlParams.get('room_id'))

      socket.on('game-started', () => {
        console.log("Admin kicked game off")
        $('#backing-track')[0].play()
        $('#backing-video')[0].play()
      })

      socket.on('game-finish', () => {
        $('#backing-track')[0].pause()
        $('#backing-video')[0].pause()
      })

      socket.on('sample-sound-played', (sound_payload) => {
        console.log("Sample sound played")
        new Audio(`static/${sound_payload['sound']}.wav`).play()
      })

      $('#sound_1, #sound_2').click((event) => {
        const song = event.target.id
        socket.emit('sample-sound-played', {'sound': song, 'moment': $('#backing-track')[0].currentTime })
        new Audio(`static/${song}.wav`).play()
      })
    });

  </script>
</body>
</html>