<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "../static/styles/main.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" 
    src="http://code.jquery.com/jquery-1.11.1.min.js">
  </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chime</title>
</head>
<body class="full-container">
  <div class="left-panel">
    <video id='backing-video' muted loop width="640" height="480">
      <source src="/static/backing-video.mp4" type="video/mp4" >
    </video>
    <audio id='backing-track'>
      <source src="/static/backing_track.wav">
    </audio>
    <div class="buttons-container">
      <button class="w3-button w3-green w3-xxlarge my-button" id='share-button'>Make Party</button>
      <button class="w3-button w3-green w3-xxlarge my-button" id='play-button'>Play</button>
      <button class="w3-button w3-green w3-xxlarge my-button" id='game-finish'>Finish</button>
      <button class="w3-button w3-green w3-xxlarge my-button" id=record>Record Voice</button>
      <button class="w3-button w3-green w3-xxlarge my-button" id=stopRecord disabled>Stop Recording</button>
    </div>
  </div>
  <div class="right-panel">
    <button id='sound_1' class="w3-button w3-purple w3-xxlarge my-button">Sample 1</button>
    <button id='sound_2' class="w3-button w3-purple w3-xxlarge my-button">Sample 2</button>
  </div>

  <script type="text/javascript">
    $(document).ready(() => {
      const url = "http://" + document.domain + ":" + location.port;
      const socket = io.connect(url + "/dd");
      let audioStream = []

      navigator.mediaDevices.getUserMedia({audio:true})
        .then(stream => {handlerFunction(stream)})

      function handlerFunction(stream) {
        rec = new MediaRecorder(stream);
        rec.ondataavailable = e => {
          audioStream.push(e.data)
        }
        rec.onstop = e => {
          let blob = new Blob(audioStream, {type:'audio/wav'});
          audioStream = []
          sendData(blob)
        }
      }
      function sendData(blob) {
        console.log("Sending data..")
        console.log(blob)
        socket.emit('recorded-audio', {'audio_payload': blob, 'moment': $('#backing-track')[0].currentTime})
      }
      record.onclick = e => {
        console.log('I was clicked')
        record.disabled = true;
        record.style.backgroundColor = "blue"
        stopRecord.disabled=false;
        audioChunks = [];
        rec.start(5000); //TODO: Need to change this to a very small number
      }
      stopRecord.onclick = e => {
        console.log("I was clicked")
        record.disabled = false;
        stop.disabled=true;
        record.style.backgroundColor = "red"
        rec.stop();
      }

      $('#share-button').click(() => {
        console.log("Share button clicked")
        socket.emit('share-requested', (share_link) => {
          console.log(share_link)
          alert(`Share this link: ${share_link}`)
        })
      });

      $('#game-finish').click(() => {
        console.log("Finish button clicked")
        socket.emit('game-finish')
        $('#backing-track')[0].pause()
        $('#backing-video')[0].pause()
      });

      socket.on('sample-sound-played', (sound_payload) => {
        console.log("Sample sound played")
        new Audio(`static/${sound_payload['sound']}.wav`).play()
      })

      $('#play-button').click(() => {
        socket.emit('game-started')
        $('#backing-track')[0].play()
        $('#backing-video')[0].play()
      })

      $('#sound_1, #sound_2').click((event) => {
        const song = event.target.id
        socket.emit('sample-sound-played', {'sound': song, 'moment': $('#backing-track')[0].currentTime })
        new Audio(`static/${song}.wav`).play()
      })
    });

  </script>
</body>
</html>